@use '@/assets/scss/base/variables.scss' as *;

/*----- RESPONSIVE BOX -----*/
.res-box-wrap {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: $gray1;
    .res-box {
        width: 100%;
        height: 100%;
        position: absolute;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/*----- Hover Effect -----*/
.hover-img {
    transform: scale(1);
    transition: all 0.4s ease;
    img {
        transform: scale(1.05);
        transition: all 0.4s ease;
    }
    &:hover {
        transform: scale(0.95);
        transition: all 0.4s ease;
        img {
            transform: scale(1);
            transition: all 0.4s ease;
        }
    }
}

/*----- LIST DESIGN -----*/
ul.dot {
    display: inline-block;
    li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;

        &::before {
            content: '';
            width: 8px;
            height: 1px;
            display: inline-block;
            background-color: $black1;
        }
    }
}