// 전체 - 영어
@font-face {
    font-family: 'basic_font';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/Montserrat-VariableFont_wght.ttf');
    unicode-range: U+0020-007F;
}

@font-face {
    font-family: 'basic_font';
    font-style: bold;
    font-weight: 700;
    src: url('@/static/fonts/Montserrat-SemiBold.ttf');
    unicode-range: U+0020-007F;
}

// 전체 - 한글
@font-face {
    font-family: 'basic_font_kr';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/GowunDodum-Regular.ttf');
    unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
}

// 공용
@font-face {
    font-family: 'Bagel';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/BagelFatOne-Regular.ttf');
    unicode-range: U+0020-007F;
}
@font-face {
    font-family: 'Bagel_kr';
    font-style: normal;
    font-weight: 700; // 한글일 경우 볼드체 얇게 처리
    src: url('@/static/fonts/BagelFatOne-Regular.ttf');
    unicode-range: U+AC00-D7A3;
}

// 영어
@font-face {
    font-family: 'TanPearl';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/tan-pearl.otf');
    unicode-range: U+0020-007F;
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/Pacifico-Regular.ttf');
    unicode-range: U+0020-007F;
}

@font-face {
    font-family: 'Knewave';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/Knewave-Regular.ttf');
    unicode-range: U+0020-007F;
}

@font-face {
    font-family: 'Diphylleia';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/Diphylleia-Regular.ttf');
    unicode-range: U+0020-007F;
}

@font-face {
    font-family: 'BigShoulders';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/BigShoulders_18pt-Regular.ttf');
    unicode-range: U+0020-007F;
}

// 한글
@font-face {
    font-family: 'Mango';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/MangoByeolbyeol.ttf');
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: 'Santokki';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/HSSantokki-Regular.ttf');
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: 'YUniverse';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/YUniverse-B.ttf');
    unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
}

@font-face {
    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/Hahmlet-Regular.ttf');
    unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
}

@font-face {
    font-family: 'Namsan';
    font-style: normal;
    font-weight: 400;
    src: url('@/static/fonts/SeoulNamsanM.ttf');
    unicode-range: U+AC00-D7A3;
}


/* ----- FONT FAMILY ----- */
// 공용
.ft-diphylleia {
    font-family: 'Diphylleia';
}
.ft-bagel {
    font-family: 'Bagel', 'Bagel_kr';
}

// 영어
.ft-tanpearl {
    font-family: 'TanPearl';
}
.ft-pacifico {
    font-family: 'Pacifico';
}
.ft-knewave {
    font-family: 'Knewave';
}

// 한글
.ft-icon {
    font-family: 'YUniverse';
}

/* ----- FONT SIZE ----- */
h1,
.fs-h1 {
    font-size: 30px;
}
h2,
.fs-h2 {
    font-size: 26px;
    line-height: 34px;
}
h3,
.fs-h3 {
    font-size: 22px;
    line-height: 30px;
}
h4,
.fs-m {
    font-size: 17px;
    line-height: 24px;
}
h5,
.fs-h5 {
    font-size: 15px;
    line-height: 20px;
}

.fs-l {
    font-size: 20px;
}
.fs-s {
    font-size: 14px;
}
.fs-xs {
    font-size: 12px;
}

/* ----- TEXT ALIGN ----- */
.txt-c {
    text-align: center;
}

/* ----- FONT COLOR ----- */

br.mb {
    display: none;
}

// mobile
@media all and (max-width: $mobile) {
    br.mb {
        display: block;
    }
}