@use '@/assets/scss/base/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Anybody:wdth,wght@50..150,100..900&display=swap');

#gnb {
    .mb {
        display: none;
    }
    .pc {
        .nav {
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            
            > li:nth-child(1) {
                position: fixed;
                top: 5%;
                left: 5vw;
                z-index: 100;
            }
            > li:nth-child(2) {
                position: fixed;
                top: 5%;
                right: 5vw;
                z-index: 100;
            }
            > li:nth-child(3) {
                position: fixed;
                bottom: 5%;
                left: 5vw;
                z-index: 100;
            }
        }
        a {
            p {
                font-family: 'Anybody', sans-serif !important;
                font-stretch: 110%;
                font-size: 2rem;   
                span {
                    font-family: 'Anybody', sans-serif !important;
                    transition: font-stretch 0.4s;
                }
            }
            &:hover p span {
                font-stretch: 200%;
                transition: font-stretch 0.4s;
            }
        }
        // .nuxt-link-exact-active:not(a[href='/']) {
        //     position: relative;
        //     p span { 
        //         font-stretch: 200%;
        //     }
        //     &::after {
        //         content: '';
        //         width: 80px;
        //         height: 80px;
        //         border-radius: 50%;
        //         background: radial-gradient(circle, #56779F 0%, rgba(255,255,255,0) 60%);
        //         mix-blend-mode: difference;
        //         position: absolute;
        //         top: 50%;
        //         left: 50%;
        //         transform: translate(-50%, -50%);
        //         z-index: -1;
        //     }
        // }
    }
}

// mobile
@media all and (max-width: $mobile) {
    #gnb {
        .pc {
            display: none;
        }
        .mb {
            display: block;
            width: 100%;
        }

        .menu-button {
            position: fixed;
            top: 5vw;
            left: 5vw;
            z-index: 103;
            .button-wrap {
                svg {
                    width: 60px;
                    height: 60px;
                    path {
                        transition: all 0.4s ease;
                    }
                }
            }
        }

        .menu-cont {
            width: 200vw;
            height: 60vh;
            position: fixed;
            top: 0;
            left: -50%;
            padding: 10vh 60vw;
            z-index: 102;
            background-color: $black2;
            color: $white1;
            visibility: hidden;
            transform: translateY(-100%);
            border-radius: 0 0 200% 200%;
            transition: all 0.4s ease;

            nav {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                li {
                    text-align: right;
                }
                li:not(:first-child) {
                    margin-top: 16px;
                }
                li:last-child {
                    margin-top: 64px;
                }
                a {
                    color: $white1;
                    font-size: 2.4rem;
                    line-height: 1;
                    font-family: 'Bagel', 'Bagel_kr';
                }
            }
        }

        .desc {
            position: fixed;
            bottom: 5vw;
            left: 5vw;
            font-size: 0.8rem;
            visibility: hidden;
            opacity: 0;
            transition: all 0.4s ease;
            z-index: 105;
        }
        
        .mb.active {
            .menu-cont {
                visibility: visible;
                transform: translateY(0);
                border-radius: 0 0 50% 50%;
                transition: all 0.4s ease;
                a {
                    p {
                        transform: translateY(0);
                        transition: all 0.4s ease;
                    }
                }
            }
            .desc {
                visibility: visible;
                opacity: 1;
                transition: all 0.4s ease;
            }
            .shadow {
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.4);
                z-index: 101;
            }
        }
    }

}